.cart-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1000px; /* Full width for larger screens */
  }
  
  .cart-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .cart-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-item-content {
    display: flex;
    flex-wrap: wrap; /* Wrap content for smaller screens */
  }
  
  .cart-item-image {
    flex: 0 0 100px;
    width: 100px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .cart-item-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .cart-item-price {
    font-size: 1rem;
    color: #e3342f;
    margin-bottom: 10px;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-item-quantity button {
    background-color: #ddd;
    border: none;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .cart-item-quantity span {
    margin: 0 10px;
  }
  
  .cart-item-total {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .cart-item-discount {
    font-size: 0.9rem;
    color: #1e3a8a;
    margin-bottom: 5px;
  }
  
  .remove-button {
    background-color: #e3342f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #cc1f1a;
  }
  
  .cart-summary {
    text-align: right;
  }
  
  .cart-summary h2 {
    margin-top: 0;
  }
  
  .checkout-button {
    background-color: #1e3a8a; /* Navy Blue */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .checkout-button:hover {
    background-color: #142e6d; /* Darker Navy Blue */
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .cart-container {
      padding: 10px;
      margin: 10px;
    }
  
    .cart-item-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .cart-item-content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .cart-item-content img {
      margin-bottom: 10px;
    }
  
    .remove-button {
      width: 100%;
      margin-top: 10px;
    }
  
    .checkout-button {
      width: 100%;
      padding: 15px;
    }
  
    .cart-summary {
      text-align: center;
      margin-top: 20px;
    }
  }
  